.main-screen
  .search
    = form_with url: search_groups_path, local: true, method: :get do |form|
      = form.text_field :keyword, placeholder: "予定を検索する"
      = form.submit "検索"
  .tennis-list
    -@groups.each do |group|
      .event
        .event__name
          = group.name
        .event__date
          = group.event_date